<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="my-login-page">
    <%- include("../partials/nav.ejs") %>

    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="card-body">
              <h4 class="display-5 fw-bold">Sell</h4>

              <!-- Sell form -->
              <form
                action="/trade/sell/post"
                method="POST"
                class="my-login-validation"
              >
                <!-- Symbol input -->
                <div class="mb-3">
                  <label for="symbol" class="form-label">Symbol</label>
                  <input
                    type="text"
                    class="form-control"
                    id="symbol"
                    name="symbol"
                    placeholder="BTC"
                    required
                  />
                </div>

                <!-- Quantity input -->
                <div class="mb-3">
                  <label for="quantity" class="form-label">Quantity</label>
                  <input
                    type="number"
                    class="form-control"
                    id="quantity"
                    name="quantity"
                    placeholder="5"
                    min="1"
                    required
                  />
                </div>

                <button class="btn btn-primary">Sell</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
