<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <div class="container">
        <div class="px-4 py-5 my-5 text-center">
          <!-- Logo -->
          <img
            class="d-block mx-auto mb-4"
            src="/images/logo.svg"
            alt=""
            width="175"
            height="auto"
          />

          <h1 class="display-5 fw-bold">Crypto Chimp</h1>

          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
              Crypto Chimp is a cryptocurrency trading simulator. The goal is to
              increase your net worth by buying low and selling high. The prices
              are real time market values taken from the
              <a href="https://p.nomics.com/cryptocurrency-bitcoin-api">
                Nomics API </a
              >. This project is open source and you can find the code on
              <a href="https://github.com/MaximilianHagelstam/cryptochimp"
                >GitHub</a
              >.
            </p>
          </div>
        </div>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
