<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <div class="container">
        <h4 class="display-5 fw-bold">Wallet</h4>

        <br />

        <!-- Bootstrap box thing -->
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Cash</h4>
              </div>
              <div class="card-body">
                <!-- Show user cash amout -->
                <h1 class="card-title pricing-card-title">
                  <%= cash %><small class="text-muted fw-light">€</small>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
